
 h1 { font-weight: 100; font-size: 2.5em;
    text-align: center;
  }
  
   body {
    background-image: url("../image/146520916-glowing-neon-magic-ball-of-predictions-for-decision-making-icon-isolated-on-brick-wall-background-cr.webp");
  } 
  #section { 
    width: 500px; 
    height: 600px;
    margin: 0 auto; 
    margin-top: 25px; 
    border: 1px dotted rgb(245, 241, 241);
    text-align: center; 
    font-family: 'Helvetica Neue', arial; 
    font-weight: 100;
    background-color:rgb(226, 234, 243);
    text-align: center;
   
  
   } 
  
  #magicEightBall{
   background-position: center;
  
  }
  
  
  #circle {
    font-size: 12pt;
    background-color: rgb(83, 80, 80);
    color: rgb(224, 216, 216);
    position:absolute;
    margin-left: 43px;
    margin-top: 45px;
    height: 170px;
    width: 170px;
    border-radius: 50%;
    display: none;
  }
  
  #info{
    text-align: center;
    font-size: 20px ;
  }
  